<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" formControlName="name">
      <div *ngIf="userForm.controls.name.invalid && (userForm.controls.name.dirty || userForm.controls.name.touched)">
        <div *ngIf="userForm.controls.name.errors?.required">Name is required</div>
      </div>
    </div>
  
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email">
      <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
        <div *ngIf="userForm.controls.email.errors?.required">Email is required</div>
        <div *ngIf="userForm.controls.email.errors?.email">Invalid email format</div>
      </div>
    </div>
  
    <button type="submit" [disabled]="userForm.invalid">Update User</button>
  </form>
   -->
