<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li>
            <img src="assets/garuda.png" alt="Garuda Image" class="sidebar-image">
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">
            Project
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Department
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add">
              User
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Flight Planning
            </a>
          </li><li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Workspace
            </a>
          </li><li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Asset
            </a>
          </li><li class="nav-item">
            <a class="nav-link" routerLink="/user">
            Vendor
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">
              Client
            </a>
          </li>
      </ul>
    </div>
  </nav>
  